* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

}

.image {
  width: 25%;
}
.center {
  margin: 5px;
  flex-grow: 1;
}
.button {
  border-radius: 5px;
}

.dcha {
  display: flex;
  width: 25%;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.star {
  width: 30%;

}
