// @import "settings.scss";
// @import "general.scss";
// @import "typo.scss";
// @import "components.scss";
// @import "layout.scss";
// @import "helpers.scss";

$primary-color: #3AC3CB;
$font-size: 16px;
$font-family-titles:'Ubuntu', sans-serif;
$font-family-paragraph:'Lora', serif;
$color-font-titles: white;
$mobile-size:580px;

h1 {
  color: $color-font-titles;
  font-family: $font-family-titles;
  margin-left: 5px;
}

header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}
.menu-full-screen {
  display: none;
}

li {
  list-style-type: none;
  font-family: $font-family-paragraph;
  padding: 5px;
}

img {
  width: 50px;
}

.btn-menu {
  margin-right: 10px;
  background: none;
  border: none;
}
.show-menu {
  background-color: $primary-color;
  display: none;
  text-align: right;
  animation-name: opacityMenu;
  animation-duration: 2s;
}

.open-menu {
  margin-top: 0;
}

p {
  text-align: justify;
}

@keyframes opacityMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (min-width: $mobile-size) {
  .show-menu, .btn-menu {
    display: none;
  }

  .menu-full-screen {
    display: flex;
  }
}
